{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.previous %}
      <a href="{{ page.previous.url | relative_url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html | strip }}">
        이전 글: {{ page.previous.title | markdownify | strip_html | strip }}
      </a>
    {% else %}
      <span class="pagination--pager disabled">이전 글 없음</span>
    {% endif %}

    {% if page.next %}
      <a href="{{ page.next.url | relative_url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html | strip }}">
        다음 글: {{ page.next.title | markdownify | strip_html | strip }}
      </a>
    {% else %}
      <span class="pagination--pager disabled">다음 글 없음</span>
    {% endif %}
  </nav>
{% endif %}
